name: Jaga Sistem Sawit

on:
  schedule:
    - cron: '0 8 * * *'
  workflow_dispatch:

jobs:
  wake_up:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Aplikasi Streamlit
        run: curl -I -H "User-Agent: Mozilla/5.0" https://sawitbeluran.streamlit.app/_stcore/health
