name: Jaga Sistem Sawit

on:
  schedule:
    - cron: '0 8 * * *'
  workflow_dispatch:

jobs:
  ping_job:
    runs-on: ubuntu-latest
    steps:
      - name: Ping URL
        run: |
          curl -I https://sawitbeluran.streamlit.app/_stcore/health
